.row{
    margin-top: 1em;
}

.card-body{
    height: 22em;
}

hr{
    overflow: visible; /* For IE */
    border: 0 solid #607d8b;
    border-top-width: 1px;
}

.seemore{
    position: absolute;
    bottom: 5px;
    left: 47%;
    right: 50%;
    font-size: 25px;
}

.foreach{
    margin-top: 10%;
}

.foreach p{
    margin-bottom: 5px;
    font-size: 16px;
}

.foreach p:hover{
    background-color: #0c73cd;
    color: white;
    /*border: 2px solid black;*/
    box-shadow: inset 0px 0px 2px 2px white;
}

.empty_foreach{
    margin-top: 50%;
    margin-bottom: 50%;
    font-size: 20px;
    font-weight: bold;
}