h1{
    margin-top: 1em;
}

#btn_etu{
    margin-top: 1em;
}


#btn_ent{
    margin-top: 1em;
}

#btn_offre{
    margin-top: 1em;
}

#ligne_admin{
    margin-top: 1em;
}

#bienvenue{
    text-align: center;
    margin-top: 2em;
}